@font-face {
    font-family: Ubuntu;
    src: url(fonts/Ubuntu/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: Lato;
    src: url(fonts/Lato/Lato-Regular.ttf);
}

* {
    font-family: Lato;
    color: white;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 55px;
    background-color: #212121;
}

.heading {
    font-size: 33px;
}

.attributes {
    flex-direction: column;
    gap: 8px;
}

.attributes, .git-attrib {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.attribute, .attribute > * {
    color: #797979;
}

.attributes {
    position: absolute;
    bottom: 0;
    padding: 5px;
}

.menu {
    display: flex;
    gap: 10px;
}

.function-button {
    background-color:#3b3b3b;
    border: 2px solid #555555;
    border-radius: 20px;
    font-size: 15px;
    padding: 10px;
    width: 135px;
    transition: 0.3s;
}

.add-function:hover, .remove-function:hover {
    transform: scale(0.96);
}


.main-content {
    height: calc(100% - 55px);
    display: flex;
}

.project-category-header {
    display: flex;
    align-items: center;
    gap: 5px;
}

.side-menu {
    box-sizing: border-box;
    padding: 10px 10px 10px 30px;
    width: 300px;
    background-color: #2d2d2d;
    border-right: 2px solid #222;
}

.group-project {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-category-title {
    font-size: 20px;
}

[data-adto="true"] {
    transition: 0.3s;
}

.category-project-icon {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
}

#first > .project-element-container-title {
    font-size: 27px;
    font-weight: 600;
}

.element-content {
    margin-left: 5px;
    padding-left: 2px;
    border-left: 2px solid #999999;
}


.content {
    width: calc(100% - 300px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #212121;
}

.main-section-window {
    overflow: auto;
    width: 98%;
    height: 98%;
    margin: auto;
    border: 2px solid #7e7e7e;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px
}

.main-section-heading {
    margin-top: 10px;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
}

.sub-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.sub-section-placeholder {
    text-align: center;
}

.sub-heading {
    width: fit-content;
    display: flex;
    align-items: center;
    margin: auto;
    gap: 5px;
}

.toggle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-heading > .toggle {
    width: 16px;
    height: 14px;
}

.toggle-img {
    transition: 0.3s;
    transform: rotate(180deg);

}

.toggle-img.rotated {
    transform: rotate(90deg);
}


.sub-heading > .heading {
    display: flex;
    align-items: center;
    font-size: 28px;
    text-align: center;
    color: white;
}

.todo {
    background-color: #292929;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid #7e7e7e;
    margin: 5px;
    border-radius: 10px;
    flex-wrap: wrap;
    transition: 0.3s;
}

.second-display-menu > .todo {
    margin: 0;
    position: relative;
}

.todo-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.todo.done {
    opacity: 0.3;
    border: 2px solid green;
}

.todo.done >  * {
    pointer-events: none;
}

.todo.done > .todo-main >  .check-done{
    pointer-events: all;
}

.todo-main {
    border-radius: 5px;
    padding: 5px;
    gap: 5px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.checklist-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.todo-checklist {
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3px;
    width: 100%;
    background-color: #303030;
    padding: 5px 0;
}

.checklist-heading {
    margin-left: auto;
    margin-right: auto;
}

.checklist {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.checkbox-container {
    width: 100%;
    gap: 5px;
    display: flex;
    margin: auto;
}

.checkbox-container > .check-done-button {
    margin: 0 !important;
}

.checklist-header {
    display: flex;
    width: fit-content;
    gap: 5px;
}

.checklist-header > .toggle > .toggle-img, .project-category-header > .toggle > .toggle-img {
    width: 13px;
}

.checkbox-label {
    display: flex;
    gap: 5px;
    font-size: 18px;
    justify-content: flex-start;
    max-width: 300px;
    overflow-wrap: anywhere;
}

.checkbox-input {
    display: none;
}

.checkbox-container > .check-done-button {
    width: 20px;
    height: 20px;
}

.checkbox-container > .check-done-button::before {
    position: relative;
    top: -6px;
    font-size: 17px;
    opacity: 0.2;
    content: '✓';
    transition: 0.3s;
}

.create-checkbox {
    display: flex;
    gap: 5px;
}

.checkbox-title-input {
    background-color: #272626 !important; 
    border-radius: 5px;
}

.todo-description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5px;
}

.todo-description {
    width: 100%;
    padding-bottom: 10px;
    font-size: 18px;
    margin: auto;
    text-align: center;
}

.todo-priority-container {
    display: flex;
    align-items: center;
}

.round-button, .check-done-button {
    margin: auto;
    width: 28px;
    border-radius: 100%;
    height: 28px;
    border: 1px solid white;
    text-align: center;
}

.round-button#subs:hover {
    background-color: red;
}

.round-button#subs:hover::before {
    color: #292929;
}

.round-button#add:hover {
    background-color: green;
}

.round-button#add:hover::before {
    color: #292929;
}

.round-button#subs::before, .round-button#add::before{
    transition: 0.3s;
    position: relative;
    font-size: 50px;
    content: '-';
    color: red;
}

.round-button#subs::before {
    top: -20.5px;
}

.round-button#add::before {
    font-size: 30px;
    top: -6px;
    left: -0.5px;
    content: '+';
    color: green;
}

.todo-duedate, .todo-title, .todo-priority-container, .check-done {
    width: 220px;
}    

.todo-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.todo-duedate, .todo-priority {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3px;
}    

.todo-label {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding: 1px 5px;
    border-bottom: 1px solid white;
}

.check-done {
    display: flex;
    align-items: center;
}

.ddate-input, .priority-value, .title-input, .todo-title-content, .checkbox-title-input, .set-c-p-input {
    text-align: center;
    font-size: 18px;
    outline: none;
    border: none;
    background-color: inherit;
}

.priority-value, .title-input {
    -webkit-appearance: none;
    appearance: none;
}

.ddate-input, .priority-value {
    margin-left: auto;
    margin-right: auto;
}

.ddate-input {
    width: 129px;
}

.priority-value {
    width: 70px;
}

.title-input {
    width: 185px;
    font-size: 20px;
    background-color: #2d2d2d;
    border-radius: 5px;
}

.description-input {
    outline: none;
    border: none;
    background-color: #2d2d2d;
    height: 90%;
    width: 90%;
    border-radius: 5px;
    padding: 5px;
}

.todo-title-content {
    width: fit-content;
    max-width: 220px;
    max-height: 55px;
    overflow-x: auto;
    font-size: 20px;
    margin-left: 31px;
}

.text-edit-button {
    width: 26px;
    height: 26px;
}

.check-done-input {
    display: none;
}

.check-done-button-container {
    margin: auto;
}

.check-done-button {
    margin: auto;
    width: 28px;
    border-radius: 100%;
    height: 28px;
    border: 1px solid white;
    text-align: center;
}

.check-done-button::before {
    position: relative;
    top: -4px;
    font-size: 23px;
    opacity: 0.2;
    content: '✓';
    transition: 0.3s;
}

.check-done-button:hover {
    background-color: green;
}

.check-done-button:hover::before {
    opacity: 1;
}

.check-done-button.checked::before {
    opacity: 1;
}

.checked {
    opacity: 1;
    background-color: green;
}


/* width */
::-webkit-scrollbar {
    height: 5px;
  }
::-webkit-scrollbar {
    height: 5px;
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #222;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(19, 19, 19);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

button {
    -webkit-appearance: none;
    appearance: none;
    background-color: inherit;
    border: 0;
    outline: none;
    padding: 0;
}

.second-display {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(0 0 0 / 30%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.second-display-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.set-category-project {
}

.set-category-project-title {
    background-color: #111111;
    padding: 20px;
    border-radius: 5px;
}

.set-c-p-label {
    font-size: 38px;
    text-align: center;
}

.set-c-p-input {
    font-size: 30px;
    background-color: #191919;
    border-radius: 5px;
}

.select-element-menu {
    margin: auto;
    background-color: #111111;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

}

.select-element-menu button:first-of-type {
    border-top: none;
    border-radius: 5px;
}

.select-element-menu button:last-of-type {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.sem-option {
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    border-top: 1px solid gray;
}

.sem-option:hover {
    background-color: #1a1a1a;
}

.close-button {
    transition: 0.3s;
    width: 20px;
    height: 20px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    z-index: 1;
}

.close-button:hover {
    background-color: white;
    color: red;
}

.create-button {
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #252525;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.create-button:hover {
    transition: 0.3s;
    transform: scale(0.95) translateY(-0.5px);
}

.green-text-element {
    color: #7cd47c;
}

.red-text-element {
    color: #ec5c5c;
}